
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#form" aria-expanded="false" aria-controls="form" style="margin-bottom:10px;">
  Nuevo
</button>
<div class="row">
    <div class="col-sm-8">
        <div class="collapse" id="form">
          <div class="">
            <form name="myForm">
            <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="nombre">Nombre</label>
                        <input name="nombre" id="nombre" class="form-control" type="text" ng-model="articulo.nombre" required>
                        <p ng-show="myForm.nombre.$error.required && myForm.nombre.$touched" class="text-danger">Este campo es requerido.</p>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="unidad">Unidad</label>
                        <input name="unidad" id="unidad" class="form-control" ng-model="articulo.unidad" required>
                        <p ng-show="myForm.unidad.$error.required && myForm.unidad.$touched" class="text-danger">Este campo es requerido.</p>
                    </div>
            </div>
            <button ng-disabled="!myForm.$valid" type="button" ng-click="save(articulo); articulo='';" class="btn btn-success pull-right">Guardar</button>
            </form>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    <table class="table table-striped table-bordered" ng-show="articulos.length > 0">
        <tr>
            <th width="50%">Nombre</th>
            <th width="40%">Unidad</th>
            <th width="10%"></th>
        </tr>
        <tr ng-repeat="articulo in articulos">
            <td>{{ articulo.nombre }}</td>
            <td>{{ articulo.unidad }}</td>
            <td>
                <div class="dropdown">
                  <button class="btn btn-small btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Acciones
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#/articulos" ng-click="update(articulo._id)">Editar</a></li>
                    <li><a ng-click="remove(articulo)">Eliminar</a></li>
                  </ul>
                </div>
            </td>
        </tr>
    </table>
    <div class="alert alert-danger" ng-show="!articulos.length">No existen Articulos</div>
    </div>
</div>
