<div class="">
    <form>
        <div class="row">
            <div class="form-group col-md-4">
               <input class="form-control" type="text" ng-model="cliente.nombre">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
               <textarea class="form-control" ng-model="cliente.unidad"></textarea>
            </div>
        </div>
        <div class="pull-right" >
            <button type="button" ng-click="save(cliente); cliente='';" class="btn btn-success">Guardar</button>
        </div>
    </form>
  </div>