 <div class="col-md-6 col-md-offset-3" ng-init="edit()">
     <h1 class="text-center text-muted">Update cliente</h1>
     <form role="form">
         <div class="form-group">
             <input class="form-control" type="text" ng-model="cliente.title">
         </div>
         <div class="form-group">
            <input class="form-control" ng-model="cliente.body">
         </div>
         <input type="button" ng-click="update()" value="Update cliente" class="btn btn-success btn-block">
         <a href="#/clientes" class="btn btn-info btn-block">Return</a>
     </form>
 </div>