<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#form" aria-expanded="false" aria-controls="form" style="margin-bottom:10px;">
  Nuevo
</button>
<div class="row">
    <div class="col-sm-12">
        <div class="collapse" id="form">
          <div class="">
            <form name="myForm">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="folio">Folio</label>
                        <input name="folio" id="folio" class="form-control" type="text" ng-model="requisicion.folio" required>
                        <p ng-show="myForm.folio.$error.required && myForm.folio.$touched" class="text-danger">Este campo es requerido.</p>
                    </div>
                   
                      <div class="form-group col-sm-4">
                        <label for="cliente">Cliente</label>
                        <ui-select name="cliente" ng-model="requisicion.cliente_id"
                                     theme="bootstrap"
                                     ng-disabled="disabled"
                                     reset-search-input="false"
                                     style="width: 300px;" required>
                            <ui-select-match placeholder="Seleccione">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="cliente._id as cliente in clientes | filter: $select.search"
                                     refresh="refreshClientes($select.search)"
                                     refresh-delay="0">
                              <div ng-bind-html="cliente.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                           <p ng-show="myForm.cliente.$error.required && myForm.cliente.$touched" class="text-danger">Este campo es requerido.</p>
                      </div>       
                    <div class="form-group col-sm-4">
                        <label for="dep">Departamento</label>
                        <input name="departamento" id="dep" type="text" class="form-control" ng-model="requisicion.departamento">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="fecha">Fecha</label>
                        <input name="fecha" id="fecha" type="date" class="form-control" ng-model="requisicion.fecha" required>
                        <p ng-show="myForm.fecha.$error.required && myForm.fecha.$touched" class="text-danger">Este campo es requerido.</p>
                    </div>
                </div>
                <div class="row">
                <div class="form-group col-sm-12">
                        <label for="comentarios">Comentarios</label>
                        <textarea id="comentarios" class="form-control" ng-model="requisicion.comentarios"></textarea> 
                </div>
                </div>
                <h1>Articulos</h1>
                <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Articulo</th>
                        <th>Comentarios</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,item) in items">
                        <td class="col-sm-2">
                            <div class="col-sm-12" >
                                <input name="cantidad{{key}}" type="number" min="1" ng-model="item.cantidad" class="form-control" required/>
                                <p ng-show="myForm.cantidad{{key}}.$error.required && myForm.cantidad{{key}}.$touched" class="text-danger">Este campo es requerido.</p>
                                <p ng-show="myForm.cantidad{{key}}.$error.min && myForm.cantidad{{key}}.$touched" class="text-danger">Debe ser mayor a 0.</p>
                            </div>
                        </td>
                        <td>
                            <ui-select name="articulo{{key}}" ng-model="item.articulo_id"
                                 theme="bootstrap"
                                 ng-disabled="disabled"
                                 reset-search-input="false"
                                 style="width: 300px;" required>
                                <ui-select-match placeholder="Seleccione">{{$select.selected.nombre}}</ui-select-match>
                                <ui-select-choices repeat="articulo._id as articulo in articulos | filter: $select.search"
                                         refresh="refreshArticulos($select.search)"
                                         refresh-delay="0">
                                  <div ng-bind-html="articulo.nombre | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <p ng-show="myForm.articulo{{key}}.$error.required && myForm.articulo{{key}}.$touched" class="text-danger">Este campo es requerido.</p>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input type="text" ng-model="item.comentarios" class="form-control" />
                            </div>                      
                        </td>
                        <td>
                            <button ng-click="cancelar(item, $event)" class="btn btn-mini btn-danger">Cancelar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a ng-click="addItem()" href="" class="btn btn-primary pull-right"><li class="fa fa-plus"></li></a>
                <button ng-disabled="!myForm.$valid" type="button" ng-click="save(requisicion); requisicion='';items='';" class="btn btn-success" ng-show="action">Guardar</button>
                <button type="button" ng-click="save(requisicion);" class="btn btn-success" ng-show="!action">Actualizar</button>
            </form>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    <table class="table table-striped table-bordered" ng-show="requisiciones.length > 0">
        <tr>
            <th width="10%">Folio</th>
            <th width="20%">Cliente</th>
            <th width="20%">Departamento</th>
            <th width="10%">Fecha</th>
            <th width="20%">Comentarios</th>
            <th width="10">Estatus</th>
            <th width="10%">Acciones</th>
        </tr>
        <tr ng-repeat="requisicion in requisiciones">
            <td>{{ requisicion.folio }}</td>
            <td>{{ nombreCliente(requisicion) }}</td>
            <td>{{ requisicion.departamento }}</td>
            <td>{{ requisicion.fecha | date:"dd/MM/yyyy" }}</td>
            <td>{{ requisicion.comentarios }}</td>
            <td>{{ requisicion.estatus }}</td>
            <td>
            <div class="dropdown">
              <button class="btn btn-small btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Acciones
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ng-click="editar(requisicion._id)">Editar</a></li>
                <li><a href="#/requisiciones/{{requisicion._id}}">Ver</a></li>
                <li><a href="#/requisiciones/enviar/{{requisicion._id}}">Enviar</a></li>
                <li><a href="#/cotizaciones/create/{{requisicion._id}}">Cotizar</a></li>
                <li><a href="#/requisiciones" ng-click="remove(requisicion)">Eliminar</a></li>
              </ul>
            </div>
            </td>
        </tr>
    </table>
    <div class="alert alert-danger" ng-show="!requisiciones.length">No existen requisiciones</div>
    </div>
</div>
<!--<button class="btn btn-danger" ng-click="removeAll()">Borrar tocho</button>-->