<div class="">
<form>
    <div class="row">
        <div class="form-group col-sm-2">
            <label for="folio">Folio</label>
            <input id="folio" class="form-control" type="text" ng-model="cotizacion.folio">
        </div>
       
          <div class="form-group col-sm-4">
            <label for="cliente">Cliente</label>
            <select id="cliente" class="form-control" ng-model="cotizacion.cliente_id">
              <option ng-repeat="cliente in clientes" value="{{cliente._id}}" ng-selected="selected(cliente._id,cotizacion.cliente_id)">{{cliente.nombre}}</option>
            </select>
          </div><!--/col-->

        <div class="form-group col-sm-4">
            <label for="dep">Departamento</label>
            <input id="dep" type="text" class="form-control" ng-model="cotizacion.departamento">
        </div>
        <div class="form-group col-sm-2">
            <label for="fecha">Fecha</label>
            <input id="fecha" type="date" class="form-control" ng-model="cotizacion.fecha">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3">
            <label for="porcentaje">Porcentaje General</label>
            <input id="porcentaje" class="form-control" type="number" ng-model="cotizacion.porcentajeGeneral" min="0"/>
        </div>
        <div class="form-group col-sm-3">
            <label for="subtotal">Subtotal</label>
            <input id="subtotal" class="form-control" type="text" ng-model="cotizacion.subtotal" value="{{ getTotal()[0] }}" ng-cloak readOnly/>
        </div>
        <div class="form-group col-sm-3">
            <label for="iva">Iva</label>
            <input id="iva" class="form-control" type="text" ng-model="cotizacion.iva" value="{{ getTotal()[1] }}" ng-cloak readOnly/>
        </div>
        <div class="form-group col-sm-3">
            <label for="total">Total</label>
            <input id="total" class="form-control" type="text" ng-model="cotizacion.total" value="{{ getTotal()[2] }}" ng-cloak readOnly/>
        </div>
    </div>
    <div class="row">
    <div class="form-group col-sm-12">
            <label for="comentarios">Comentarios</label>
            <textarea id="comentarios" class="form-control" ng-model="cotizacion.comentarios"></textarea> 
    </div>
    </div>
    <h1>Articulos</h1>
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Observaciones</th>
            <th>Precio Unit.</th>
            <th>Porcentaje</th>
            <th>Precio U.Final</th>
            <th>Importe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td class="col-sm-2">
                <div class="col-sm-12" >
                    <input type="text" ng-model="item.cantidad" class="form-control" min="0" />
                </div>
            </td>
            <td>
                <span class="control-group" ng-class="{true: 'error', false: ''}[item.error.articulo]">
                    <select class="form-control" ng-model="item.articulo_id">
                      <option ng-repeat="articulo in articulos" value="{{articulo._id}}" ng-selected="selected(articulo._id,item.articulo_id)">{{articulo.nombre}}</option>
                    </select>
                </span>
            </td>
            <td>
                <div class="col-sm-12">
                    <input type="text" ng-model="item.comentarios" class="form-control" />
                </div>                      
            </td>
            <td class="col-sm-1">
                <div>
                    <input type="number" ng-model="item.precioUnitario" class="form-control" min="0"  />
                </div>
            </td>
            <td class="col-sm-1">
                <div>
                    <input type="number" ng-model="item.porcentaje" class="form-control" min="0"/>
                </div>
            </td>
            <td class="col-sm-1">
                <div>
                    <input type="number" ng-model="item.precioFinal" class="form-control" min="0" value="{{getTotal()}}" readOnly />
                </div>
            </td>
            <td class="col-sm-1">
                <div>
                    <input type="number" ng-model="item.importe" class="form-control" min="0" value="{{getTotal()}}" readonly/>
                </div>
            </td>
            <td>
                <button ng-click="cancelar(item, $event)" class="btn btn-mini btn-danger">Cancelar</button>
            </td>
        </tr>
    </tbody>
</table>
<a ng-click="addItem()" href="" class="btn btn-primary pull-right"><li class="fa fa-plus"></li></a>
    <button type="button" ng-click="save(cotizacion); cotizacion='';" class="btn btn-success">Guardar</button>
</form>
</div>