<div class="row">
    <div class="col-sm-12">
    <table class="table table-striped table-bordered" ng-show="cotizaciones.length > 0">
        <tr>
            <th width="10%">Folio</th>
            <th width="20%">Cliente</th>
            <th width="20%">Departamento</th>
            <th width="10%">Fecha</th>
            <th width="20%">Comentarios</th>
            <th width="10">Estatus</th>
            <th width="10%">Acciones</th>
        </tr>
        <tr ng-repeat="cotizacion in cotizaciones">
            <td>{{ cotizacion.folio }}</td>
            <td>{{ nombreCliente(cotizacion) }}</td>
            <td>{{ cotizacion.departamento }}</td>
            <td>{{ cotizacion.fecha }}</td>
            <td>{{ cotizacion.comentarios }}</td>
            <td>{{ cotizacion.estatus }}</td>
            <td>
            <div class="dropdown">
              <button class="btn btn-small btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Acciones
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#/cotizaciones/edit/{{cotizacion._id}}">Editar</a></li>
                <li><a href="#/cotizaciones/{{cotizacion._id}}">Ver</a></li>
                <li><a href="#/cotizaciones" ng-click="remove(cotizacion)">Eliminar</a></li>
              </ul>
            </div>
            </td>
        </tr>
    </table>
    <div class="alert alert-danger" ng-show="!cotizaciones.length">No existen cotizaciones</div>
    <button class="pull-right btn btn-danger" ng-click="removeAll()">Borrar tocho</button>
    </div>
</div>
